*{
	box-sizing: border-box;
}

#wrapper{
	width: 960px;
	margin: auto;
	
}
.row{
	display: flex;
}
.img{
	width: 100%;
}
p {
	position: absolute;
	left: 0;
	bottom: 0;
	background: rgba(255,255,255,0.5);
	padding: 10px;
	margin: 5px;
}
.col{
	position: relative;
}

	
}